" ------ Sources ------
" https://amine-elhattami.medium.com/destination-ideavim-day-1-the-basics-793a514af57f
" https://towardsdatascience.com/the-essential-ideavim-remaps-291d4cd3971b
" https://github.com/JetBrains/ideavim/wiki/%22set%22-commands
" Find more examples here: https://jb.gg/share-ideavimrc
" https://stackoverflow.com/questions/3776117/what-is-the-difference-between-the-remap-noremap-nnoremap-and-vnoremap-mapping
" https://gist.github.com/zchee/9c78f91cc5ad771c1f5d


" ##################################################################################################
" ------ Global Changes ------
source ~/.config/nvim/plugin/set.vim
source ~/.config/nvim/init.vim

" Set nerd tree
set NERDTree
set multiple-cursors

" Don't use Ex mode, use Q for formatting.
map Q gq
 
" Free the ctrl + k key binding that the IDE uses
sethandler <c-k> a:vim

" Quickly reload vimrc
nnoremap \r :action IdeaVim.ReloadVimRc.reload<CR>

" Join things together like comments and method chaining. Activated with shift+j
set ideajoin

" When refactoring, what vim mode should you be in. Visual allows you to quickly delete or esp to edit
set idearefactormode=visual


" ##################################################################################################
" ------ Pane Manipulation Behaviors -------

" Open panes as duplicates and resize
map <leader>- <Action>(SplitHorizontally)
map <leader>_ <Action>(SplitVertically)
map <a-m> <Action>(MaximizeEditorInSplit)
map <a-k> <Action>(StretchSplitToTop)
map <a-j> <Action>(StretchSplitToBottom)
map <a-h> <Action>(StretchSplitToLeft)
map <a-l> <Action>(StretchSplitToRight)

" Closing Panes "close close" and "close all"
map <Leader>qq <Action>(CloseContent)
map <Leader>qa <Action>(CloseAllEditors)

" Sets hjkl as pane movement keys
nnoremap <c-h> <c-w>h
nnoremap <c-l> <c-w>l
nnoremap <c-j> <c-w>j
nnoremap <c-k> <c-w>k

" Code Blocks; "pane block-open" "pane block-close" "pane global-block-open"
" Open fold
map <leader>po <Action>(ExpandRegionRecursively)

" Close fold
map <leader>pc <Action>(CollapseRegionRecursively)

" Open ALL folds
map <leader>pgo <Action>(ExpandAllRegions)

" Close ALL folds
map <leader>pgc <Action>(CollapseAllRegions)

" Enable zen mode
map <leader>pz <Action>(ToggleDistractionFreeMode)

" ##################################################################################################
" ------ G: GoTo - These commands open up GUI elements -------

" Opening Tool Windows
map <leader>g1 <Action>(ActivateRunToolWindow)
map <leader>g2 <Action>(ActivateDebugToolWindow)
map <leader>gt <Action>(ActivateTerminalToolWindow)
map <leader>gc <Action>(ActivateCommitToolWindow)
map <leader>gd <Action>(ActivateDatabaseToolWindow)
map <leader>gy <Action>(ActivatePythonConsoleToolWindow)
map <leader>go <Action>(ActivateTODOToolWindow)
map <leader>gv <Action>(ActivateVersionControlToolWindow)
map <leader>gm <Action>(ActivateMessagesToolWindow)
map <leader>gx <Action>(BuildMenu)

" Search Box; The all is opened with shift + shift on all platforms
map <leader>gf <Action>(GotoFile)
map gf :NERDTreeToggle <CR>
map <leader>ga <Action>(GotoAction)
map <leader>gp <Action>(ActivateProjectToolWindow)

" Open Sub Menus
    " Open the last places you changed code
map <leader>ghl <Action>(RecentLocations)

    " Open time based window with all your changes
map <leader>ghk <Action>(LocalHistory.ShowHistory)

map <leader>gb <Action>(ViewBreakpoints)


" ##################################################################################################
" ------ Code Editing Behaviors -------

" Edit code
map <leader>eo <Action>(OptimizeImports)
map <leader>ef <Action>(ReformatCode)
map <leader>es <Action>(SurroundWith)
map <leader>er <Action>(Refactorings.QuickListPopupAction)


" ##################################################################################################
" ------ View Information About The Code
" View all the calls to it
map <leader>vu <Action>(FindUsages)

" View code of function
map <leader>vi <Action>(QuickImplementations)

" Quick look at the parameters of the function
map <leader>vp <Action>(ParameterInfo)

" Select a run configuration
map <leader>vr <Action>(ChooseRunConfiguration)
map <leader>vh <Action>(ViewCallHierarchy)
map <leader>vb <Action>(ByteCodeViewer)

" ##################################################################################################
" --- Jump To
map <leader>jd <Action>(GotoDeclaration)
map <leader>jn <Action>(GotoNextError)
map <leader>jt <Action>(GotoTest)
map <leader>jl <Action>(Forward)
map <leader>jh <Action>(Back)
map <leader>jp <Action>(NewScratchFile)
map <leader>js <Action>(FileStructurePopup)

" ##################################################################################################
" ------ Code Execution -------
map <leader>1 <Action>(Run)
map <leader>2 <Action>(Debug)
map <leader>0 <Action>(Stop)
map <leader>bb <Action>(ToggleLineBreakpoint)
map <leader>br <Action>(Debugger.RemoveAllBreakpoints)


" Selecting multiple words
nmap <C-n> <Plug>NextWholeOccurrence
xmap <C-n> <Plug>NextWholeOccurrence
nmap <C-x> <Plug>SkipOccurrence
xmap <C-x> <Plug>SkipOccurrence
