" ------ Sources ------
" https://amine-elhattami.medium.com/destination-ideavim-day-1-the-basics-793a514af57f
" https://towardsdatascience.com/the-essential-ideavim-remaps-291d4cd3971b
" https://github.com/JetBrains/ideavim/wiki/%22set%22-commands
" Find more examples here: https://jb.gg/share-ideavimrc
" https://stackoverflow.com/questions/3776117/what-is-the-difference-between-the-remap-noremap-nnoremap-and-vnoremap-mapping


" ##################################################################################################
" ------ Global Changes ------

" Leaderkey is the spacebar
let mapleader = " "

" Don't use Ex mode, use Q for formatting.
map Q gq

" Allow the use of the normal copy buffer
" set clipboard+=unnamed
" set clipboard+=ideaput

" This for some reason is needed to allow commands such as CloseAllEditors to work. Something about
" Allowing vim shortcuts to run over the built in shortcut given
sethandler <c-k> a:vim

" Quickly reload vimrc
nnoremap \r :action IdeaVim.ReloadVimRc.reload<CR>

vnoremap < <gv
vnoremap > >gv

" Join things together like comments and method chaining. Activated with shift+j
set ideajoin

" When refactoring, what vim mode should you be in. Visual allows you to quickly delete or esp to edit
set idearefactormode=visual

" ##################################################################################################
" ------ Modify Scrolling Behaviors -------

" Number of lines to show above and below cursor. Useful for using ctrl + U/D
set scrolloff=15
" Set relative paths
set relativenumber

" ##################################################################################################
" ------ Modify Search Behaviors -------

" Do incremental searching.
set incsearch
" Highlight search results
set hlsearch
" Wrap around the file when searching
set wrapscan
" Map the enter key to CLEAR the highlight from the last search
nnoremap <CR> :noh<CR><CR>


" ##################################################################################################
" ------ Pane Manipulation Behaviors -------
" Actions that manipulate the panes will start with "p"

" Open panes as duplicates
map <leader>p- <Action>(SplitHorizontally)
map <leader>p_ <Action>(SplitVertically)

" Closing Panes "close close" and "close all"
map <Leader>pcc <Action>(CloseContent)
map <Leader>pca <Action>(CloseAllEditors)

" Sets hjkl as pane movement keys
nnoremap <c-h> <c-w>h
nnoremap <c-l> <c-w>l
nnoremap <c-j> <c-w>j
nnoremap <c-k> <c-w>k

" Code Blocks; "pane block-open" "pane block-close" "pane global-block-open"
map <leader>po <Action>(ExpandRegionRecursively)
map <leader>pc <Action>(CollapseRegionRecursively)

map <leader>pgo <Action>(ExpandAllRegions)
map <leader>pgc <Action>(CollapseAllRegions)

" Enable zen mode
map <leader>pz <Action>(ToggleDistractionFreeMode)

" ##################################################################################################
" ------ G: GoTo - These commands open up GUI elements -------

" Opening Tool Windows
map <leader>g1 <Action>(ActivateRunToolWindow)
map <leader>g2 <Action>(ActivateDebugToolWindow)

" Search Box; The all is opened with shift + shift on all platforms
map <leader>gf <Action>(GotoFile)
map <leader>ga <Action>(GotoAction)
map <leader>gp <Action>(ActivateProjectToolWindow)

" Open Tool Windows
map <leader>gd <Action>(ActivateDatabaseToolWindow)
map <leader>gt <Action>(ActivateTerminalToolWindow)
map <leader>gp <Action>(ActivatePythonConsoleToolWindow)
map <leader>gc <Action>(ActivateCommitToolWindow)
map <leader>go <Action>(ActivateTODOToolWindow)
map <leader>gv <Action>(ActivateVersionControlToolWindow)
map <leader>gq <Action>(ActivateFavoritesToolWindow)
" TODO: You are here can't seem to get the cmake window to open

" Open Sub Menus
map <leader>gr <Action>(Refactorings.QuickListPopupAction)
map <leader>ghl <Action>(RecentLocations)
map <leader>ghc <Action>(LocalHistory.ShowHistory)
map <leader>gs <Action>(FileStructurePopup)
map <leader>gb <Action>(ViewBreakpoints)
map <leader>gk <Action>(GotoTest)




" ##################################################################################################
" ------ Code Editing Behaviors -------

" Edit code
map <leader>o <Action>(OptimizeImports)

" --- "GOTO"
"map <leader>gr <Action>(ReformatCode)
"map gb <Action>(GotoDeclaration)
"map ge <Action>(GotoNextError)
"map gt <Action>(GotoTest)
"map gu <Action>(FindUsages)
"map gl <Action>(Forward)
"map gh <Action>(Back)
"map gd <Action>(QuickJavaDoc)
"map gp <Action>(ParameterInfo)


" ##################################################################################################
" ------ Code Execution -------
map <leader>1 <Action>(Run)
map <leader>2 <Action>(Debug)
map <leader>0 <Action>(Stop)
map <leader>bb <Action>(ToggleLineBreakpoint)








